@model sigapsWeb.Models.IsSegAlertas;

@{
    ViewData["Title"] = "Edit";
}

<script type="text/javascript">

    function submitStudent() {
        Swal.fire({
                        title: '¿Eliminar?',
                        text: 'Esta seguro de elimnar la información',
                        icon: 'warning',
                         showCancelButton: true,
                        confirmButtonText: 'Eliminar',
                        cancelButtonText: "Cancelar",
        })
        .then(resultado => {
            if (resultado.value) {
                var data = $("#studenteForm").serialize();
                data += "&Id=@Model.Id";

                $.ajax({
                    type: 'POST',
                    url: '/alert/deletedata',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                    data: data,
                    success: function (result) {
                        console.log(result);
                        if (result == "Error"){
                            ajaxSuccesData("Error");
                        }else{
                            ajaxSuccesData("Eliminado");
                        }
                        console.log(result);
                    },
                    error: function () {
                        ajaxSuccesData("Error");
                    }
                })
            } else {
                closeModalOne()
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <form id="studenteForm" novalidate class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdIntegrante" class="control-label"></label>
                <input asp-for="IdIntegrante" type="text" class="form-control" id="IdIntegrante" required readonly />
                <span asp-validation-for="IdIntegrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alerta" class="control-label"></label>
                <input asp-for="Alerta" type="text" class="form-control" id="Alerta" required readonly/>
                <span asp-validation-for="Alerta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan" class="control-label"></label>
                <input asp-for="Plan" type="text" class="form-control" id="Plan" required readonly/>
                <span asp-validation-for="Plan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                @Html.DropDownList("listCompany", (SelectList) ViewData["listCompany"], "-- Selecciona un estado --", new { @class = "form-control", onchange = "obtenerValorSeleccionado()", disabled = "disabled"})
            </div>
            <div class="form-group">
                <label asp-for="FechaSeguimiento" class="control-label">Fecha seguimiento</label>
                <input asp-for="FechaSeguimiento" type="date" class="form-control" id="FechaSeguimiento" required readonly/>
                <span asp-validation-for="FechaSeguimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIntervencion" class="control-label">Fecha intervención</label>
                <input asp-for="FechaIntervencion" type="date" class="form-control" id="FechaIntervencion" required readonly/>
                <span asp-validation-for="FechaIntervencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesIntervencion" class="control-label">Descripción de la intervencion</label>
                <input asp-for="DesIntervencion" type="text" class="form-control" id="DesIntervencion" readonly />
                <span asp-validation-for="DesIntervencion" class="text-danger"></span>
            </div>
            <div style="display:none">
                <input  type="button" value="Eliminarbtn" id="Eliminarbtn" class="btn eliminar" onclick="submitStudent()"/>
            </div>
        </form>
    </div>
</div>
